---
---

@import "minima";

.site-header {
  border-top: 0;
}

body {
    -webkit-font-feature-settings: "none";
       -moz-font-feature-settings: "none";
         -o-font-feature-settings: "none";
            font-feature-settings: "none";
    font-kerning: none;
}

.note, .NOTE {
    @extend blockquote;
    font-style: normal;
}

// In org-mode, images are exported to HTML as a div of class figure
.figure p {text-align: center;}
